.title,
.subtitle {
  text-align: center;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content auto;
  gap: 20px;
  margin: 40px 20px;
  min-height: 40vh;
}

.result {
  border-left: 1px dotted #000000;
  padding: 0 10px;
}

.gridTitle {
  font-family: sans-serif;
  text-transform: uppercase;
}
